__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.mo
*.pot
*.env
local_settings.py
db.sqlite3
instance
.mypy_cache
.env
.env.example
.tox
.venv
*.env
*.env.example
.env.local
.env.local.example
.env.prod
.env.prod.example
.env.dev
.env.dev.example
.env.test
.env.test.example
.env.ci
.env.ci.example
.tox
.venv
.pytest_cache
migrations
static/dist
static/node_modules
